* {
  box-sizing: border-box;
}
body {
  font-family: 'Poppins-Regular';
  color: #333333;
  font-size: 13px;
  margin: 0;
}
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul {
  margin: 0;
}
img {
  max-width: 100%;
}
ul {
  padding-left: 0;
  margin-bottom: 0;
}

a {
  margin: 0px;
  color: #ffc107c9;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

button {
  &:focus {
    outline: 0;
  }
}

a:hover {
  text-decoration: none;
  color: white;
}

.tab-link:hover {
  color: #0733ffdb;
}
