.sites-select__button-container {
  display: flex;
  justify-content: space-between;
}

.choose-seat__container {

}

.seats-scheme__container {
  padding: 20px;
  vertical-align: top;
  text-align: center;
}

.scheme-container {
  background-color: #007bff80;
}

.row{
  white-space: nowrap;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

.seat-default, .seat-vip, .seat-vip-chosen, .seat-default-chosen, .seat-booked{
  width: 30px;
  height: 30px;
  border: solid black;
  margin: 5px;
  display: inline-block;
}

.seat-default-chosen{
  background-color:  #e94584;
}

.seat-vip-chosen{
  background-color:  #e9e645;
}

.seat-vip{
  background-color:  #e98145;
}

.seat-booked{
  background-color: #adadad;
}