.sites-select__button-container {
  display: flex;
  justify-content: space-between;
}

.choose-seat__container {

}

.seats-scheme__container {
  padding: 20px;
  vertical-align: top;
  text-align: center;
}

.scheme__container {
  background-color: #007bff80;
}

.row{
  white-space: nowrap;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

.seat-default, .seat-vip, .seat-vip-chosen, .seat-default-chosen, .seat-booked{
  width: 30px;
  height: 30px;
  border: solid black;
  margin: 5px;
  display: inline-block;
}

.seat-default-chosen{
  background-color:  #e94584;
}

.seat-vip-chosen{
  background-color:  #e9e645;
}

.seat-vip{
  background-color:  #e98145;
}

.seat-booked{
  background-color: #adadad;
}

.seat-info-list__container {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  justify-content: center;
}

.seat-info__box{
  margin-right: 20px;
  padding: 10px;
  border: 1px solid rgb(119, 119, 119);
  &:last-child{
    margin-right: 0;
  }
}

.seat-types-info__panel{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  vertical-align: middle;
}

.seat-type-info__block{
  padding: 10px;
}